layout {
    pane size=1 borderless=true {
        plugin location="file:./target/wasm32-wasi/debug/zellij-datetime.wasm" {
            timezone1 "PDT/-9"
            timezone2 "UTC/0"
            timezone3 "CEST/+2"
            timezone4 "JST/+9"
            default_timezone "JST"
            background_color "#0080a0"
            foreground_color "#ffffff"
            pane_color "#1e1e1e"
            enable_right_click true
            enable_debug true
        }
    }
    pane size=1 borderless=true {
        plugin location="file:./target/wasm32-wasi/debug/zellij-datetime.wasm"
    }
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane
    pane command="tail" close_on_exit=true {
        args "-f" "zellij.log"
        cwd "/tmp/zellij-0/zellij-log"
    }
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}
