layout {
    pane size=1 borderless=true {
        plugin location="file:./target/wasm32-wasi/debug/zellij-datetime.wasm"
    }
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}
